@model IEnumerable<AplicacionParaBiblioteca.Model.HistorialDePrestamosDelLibro>

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<p>
<a asp-action="Index">Regresar al menu principal</a>
</p>
<table class="table">
    <thead>
        <tr>
               <th>
                @Html.DisplayNameFor(model => model.Libros.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libros.Estado)
            </th>
             <th>
              <label>Fecha De Publicación</label>
            </th>
               <th>
                @Html.DisplayNameFor(model => model.Libros.Tipo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.First().Libros.Id )
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.First().Libros.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.First().Libros.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.First().Libros.Estado)
            </td>
              <td>
                @Html.DisplayFor(modelItem => Model.First().Libros.FechaDePublicacion)
            </td>
               <td>
                @Html.DisplayFor(modelItem => Model.First().Libros.Tipo)
            </td>
            <td>

            </td>
        </tr>

    </tbody>
</table>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeDevolucion)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeDevolucion)
            </td>
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
