@model IEnumerable<AplicacionParaBiblioteca.Model.Libros>

@{
    ViewData["Libros"] = "Index";
}

<h1>Lista De Libros</h1>

<p>
    <a asp-action="Create">Registrar Libro</a>
</p>

<p>
    <a asp-action="ListaDeLibroNoDisponibles">Lista De Libros No Disponibles</a>
</p>


<form asp-controller="Libro" asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" name="nombre" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
               <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
             <th>
              <label>Fecha De Publicación</label>
            </th>
               <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.FechaDePublicacion)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.ActionLink("Prestar", "RegistrarPrestamo", new { ID=item.Id }) |
                @Html.ActionLink("Devolver Un Libro", "Devolver", new { ID=item.Id  }) |
                @Html.ActionLink("Detalle", "Detalle", new { ID=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
